body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.square, .colouredSquare, .appleSquare {
    border: 1px solid #999;
    height: 4vh;
    width: 4vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
}

.square, .appleSquare {
    background: #fff;
}

#snake1Square {
    background: black;
}

#snake2Square {
    background-color: aquamarine;
}

#deadSquare {
    background-color: #bb0009;
}

.square:focus, .colouredSquare:focus, .appleSquare:focus, .game:focus, #gameDiv {
    outline: none;
}

.game {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

#gameModeButton {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 10vw;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#message {
    font-size: xx-large;
    position: fixed;
    text-align: center;
}

.bothScoresContainer {
    display: flex;
    justify-content: space-between;
    width: 658px;
}

.scoreContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#scoreContainer1 {
    flex-direction: row-reverse;
}
